HOST: http://www.impspec.com/

--- IMP North: Ready ---


--
Some Notes

Interface definitions ready for implementation.
--




--
Car Sharing
--

Description: Get list of available cars (offered as free-floating and/or station-based) in a specific region.

Query parameters: region of interest, currently specified by either

- lat={lat}&lng={lng}&radius={r}  (circle)

- left_lower_lat={min_lat}&left_lower_lng={min_lng}&right_upper_lat={max_lat}&right_upper_lng={max_lng}  (bounding box)

In both cases an optional parameter "system" can be added; the default is "WGS_84".

Returns: list of available car sharing locations, both free-floating and/or station-based.
In case of station-based cars, onle the URI of the Car Sharing station is returned; 
in case of free-floating cars, the URI to the car itself.

The data structure "CarSharingLocations" of the response is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.

GET /V0/Resources/CarSharing/All
< 200
< Content-Type: application/json
[
    {
        "description": "Handwerkervereinshaus / Sophienstraße",
        "type": "Stations",
        "url": "Resources/CarSharing/Stations/746",
        "location": {
            "latitude": 52.52561167074207,
            "longitude": 13.401126265525818,
            "system": "WGS_84"
        },
        "provider": "FlinksterDB",
        "operator": "FlinksterDB"
    },
    {
        "description": "B-GO2026",
        "type": "Cars",
        "url": "Resources/CarSharing/Cars/747",
        "location": {
            "latitude": 52.51526,
            "longitude": 13.39546,
            "system": "WGS_84"
        },
        "provider": "Car2Go",
        "operator": "Car2Go"
    }
]


Get floating cars.

Query parameters: region of interest, currently specified by either

- lat={lat}&lng={lng}&radius={r}  (circle)

- left_lower_lat={min_lat}&left_lower_lng={min_lng}&right_upper_lat={max_lat}&right_upper_lng={max_lng}  (bounding box)

In both cases an optional parameter "system" can be added; the default is "WGS_84".

Returns: all floating cars qualified by the circle, together with geo location, name, URI (to acquire further details) etc.
GET /V0/Resources/CarSharing/Cars
< 200
< Content-Type: application/json
[
    {
        "description": "B-GO2127",
        "type": "Cars",
        "url": "Resources/CarSharing/Cars/1",
        "location": {
            "latitude": 52.5218,
            "longitude": 13.39336,
            "system": "WGS_84"
        },
        "provider": "Car2Go",
        "operator": "Car2Go",
        "licenceId": "B-GO2127"
    },
    {
        "description": "B-GO3190",
        "type": "Cars",
        "url": "Resources/CarSharing/Cars/2",
        "location": {
            "latitude": 52.51936,
            "longitude": 13.40003,
            "system": "WGS_84"
        },
        "provider": "Car2Go",
        "operator": "Car2Go",
        "licenceId": "B-GO3190"
    }
]


Description: Get details about a car. 

Query parameters:  optional time frame

- from={datetime1}&to={datetime2} : time interval in the future 

Returns: details about selected car. 
Data structure "Car" is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.
GET /V0/Resources/CarSharing/Cars/{carId}
< 200
< Content-Type: application/json
{  
    "id": "WME4513341K581403",   
    "description": "B-GO2999", 
    "type": "Car", 
    "url": "/Resources/CarSharing/Cars/B-GO2999", 
    "address": { "cityCode": "13357", "city": "Berlin", "street": "Ellerbeker Straße", "houseNo": "7 - 8" }, 
    "location" : {  
            "latitude" : 52.55157,
            "longitude": 13.39552,
            "system": "WGS_84"
        },
    "licenceId": "B-GO2999",  
    "category": "Compact",
    "provider": "Car2Go",
    "model": "VW Caddy",
    "kW": { "value": 70, "unit":"KW" },
    "fee": [ ],
    "fuelType": "Petrol",
    "fuelLevel": 100,
    "expectedRange": { "value": 700, "unit":"km" },
    "transmission": "Automatic",
    "name": "",
    "imageLink": URI,
    "seatCount": 5,
    "doorCount": 3,
    "colour": "red",
    "properties": [ "Airbags", "Antiblockiersystem", "Ganzjahresreifen" ]
}



Description: Get list of car sharing stations (for station-based car sharing).

Query parameters: region of interest, currently specified by either 

- center_long={x}&center_lat={y}&radius={r} (circle),

- left_lower_lat={min_lat}&left_lower_lng={min_lng}&right_upper_lat={max_lat}&right_upper_lng={max_lng} (bounding box),

  In both cases an optional parameter "system" can be added; the default is "WGS_84".

Opeator:

- operatorId={id} (optional)

Further restrictions are possible: category of required car (e.g., FullSize), pickup/return station

Returns: all stations qualified by query parameters, together with geo location, name, URI (to acquire further details) etc.;
The data structure "CarSharingStation" is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.
GET /V0/Resources/CarSharing/Stations
< 200
< Content-Type: application/json
[
    {
        "id":"id1", 
        "description":"Station1", 
        "location": { "longitude": 13.39552, "latitude":52.55157, system="WGS_84" }, 
        "address": { "cityCode": "13357", "city": "Berlin", "street": "Ellerbeker Straße", "houseNo": "7 - 8" },
        "phoneno": "...", "provider": "Flinkster",
        "url": "/Resources/CarSharing/Stations/1"
    }
]


Get car sharing station details.

Description: Get details about a specific car sharing station.

Query parameters: 

- currently none

Returns: details about car sharing station determined by {stationId}.

The data structure "CarSharingStationDetails" is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.
GET /V0/Resources/CarSharing/Stations/{stationId}
< 200
< Content-Type: application/json
{ 
    "id":"id1", 
    "description":"Station1", 
    "location": { "longitude": 13.39552, "latitude":52.55157, system="WGS_84" }, 
    "address": { "cityCode": "13357", "city": "Berlin", "street": "Ellerbeker Straße", "houseNo": "7 - 8" },
    "phoneno": "...", "provider": "Flinkster", 
    "services": [  ],
    "availableCars": [ ],
    "notes": [ "Die Stellplätze befinden sich hinter den Schönhauser Arcaden. Die Zufahrt erfolgt über die Schönhauser Allee, dann Wichertstraße in die Greifenhagener Straße.",
               "Die Stellplätze befinden sich direkt gegenüber vom Parkhaus - Schönhauser Arcaden- auf dem, mit Schrankenanlage versehenen Grundstück. Der Stellplatz ist frei wählbar. Sie öffnen die Schranke mit den Parkkarten im Fahrzeug. Bitte halten Sie zum Öffnen der Schranke die Parkkarte an das Lesefeld der Schrankenanlage." ],


}


Get availability at car sharing station.

Description: Get list of available cars at a specific car sharing station.

Query parameters: 

- from={datetime1}&to={datetime2} : time interval in the future 

Possible further parameters:

- station for returnal

- requested category

Returns: list of available cars at a specific car sharing station determined by {stationId}.

The data structure "CarDetails" is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.
GET /V0/Resources/CarSharing/Stations/{stationId}/Cars
< 200
< Content-Type: application/json
[
    {  
        "id": "WME4513341K581403",   
        "description": "B-GO2999", 
        "type": "Car", 
        "url": "/Resources/CarSharing/Cars/B-GO2999", 
        "address": { "cityCode": "13357", "city": "Berlin", "street": "Ellerbeker Straße", "houseNo": "7 - 8" }, 
        "location" : {  
                "latitude" : 52.55157,
                "longitude": 13.39552,
                "system": "WGS_84"
            },
        "licenceId": "B-GO2999",  
        "category": "Compact",
        "provider": "Car2Go"
    }    
]
  

Get details about a specific car. 

Query parameters: 

- currently none

Returns: details about a specific car determined by with {carId}
GET /V0/Resources/CarSharing/Cars/{carId}
< 200
< Content-Type: application/json
{  
    "id": "WME4513341K581403",   
    "description": "B-GO2999", 
    "type": "Car", 
    "url": "/Resources/CarSharing/Cars/B-GO2999", 
    "address": { "cityCode": "13357", "city": "Berlin", "street": "Ellerbeker Straße", "houseNo": "7 - 8" }, 
    "location" : {  
            "latitude" : 52.55157,
            "longitude": 13.39552,
            "system": "WGS_84"
        },
    "licenseId": "B-GO2405",
    "category": "Compact",
    "provider":"Car2Go",
    "model": "VW Caddy",
    "kW": { "value": 70, "unit":"KW" },
    "fee": [ ],
    "fuelType": "Petrol",
    "fuelLevel": 100,
    "expectedRange": { "value": 700, "unit":"km" },
    "transmission": "Automatic",
    "name": String,
    "imageLink": URI,
    "seatCount": 5,
    "doorCount": 3,
    "colour": "red",
    "properties": [ "Airbags", "Antiblockiersystem", "Ganzjahresreifen" ]
}

--
EV charging
--

List EV charging stations in a specific region: return list of stations with basic information.

Query parameters: 

region of interest, currently specified by either

- lat={lat}&lng={lng}&radius={r}  (circle)

- left_lower_lat={min_lat}&left_lower_lng={min_lng}&right_upper_lat={max_lat}&right_upper_lng={max_lng}  (bounding box)

  In both cases an optional parameter "system" can be added; the default is "WGS_84".

Returns: List of all EV charging stations qualified by query parameters (and body), together with geo location, name, URI (to acquire further details) etc.
The data structure "EVCHargingStation" of the response is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.

GET /V0/Resources/EVCharging/Stations
> Accept: application/json
< 200
< Content-Type: application/json
[
    {
        "description": "Conti",
        "type": "EVChargingStation",
        "url": "Resources/EVCharging/Stations/750",
        "location": {
            "latitude": 52.51474,
            "longitude": 13.38639,
            "system": "WGS_84"
        },
        "provider": "Vattenfall",
        "operator": "Vattenfall",
        "address": {
            "citycode": "10117",
            "city": "Berlin",
            "street": "Glinkastr.",
            "houseno": "38",
            "district": null,
            "region": null,
            "country": null
        }
    }
]


Description: Get details about an EV charging station.

Query parameters: 

- currently none

Returns: ChargingPoints for the EV charging station specified by {stationId}.
The data structure "EVChargingStationDetail" of the response is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.

GET /V0/Resources/EVCharging/Stations/{stationId}
< 200
< Content-Type: application/json
{ 
    "url": "/Resources/EVCharging/Stations/10",
    "description": "TOTAL-Tankstelle",
    "address": {
        "citycode": "10243", "city": "Berlin", "street": "Holzmarktstraße", "houseNo": "44" 
        },
    "location" : {  
        "latitude" : 52.5109368,
        "longitude": 13.4290864,
        "system": "WGS_84"
    },
    "provider": "Vatenfall",
    "chargingStationType": "Doppelsäule 16A",
    "managedChargeable": false, 
    "owner": "Vattenfall Halböffentlich",
    "PlugTypes": "Null", 
    "power": 11040,
    "voltage": 230,
    "properties": [ "current":16 ],
    "chargingPoints": [ 
        "/Resources/EVCharging/Stations/10/ChargingPoints/101",
        "/Resources/EVCharging/Stations/10/ChargingPoints/102"
    ]
}


--
(Individual Traffic) Routing Planner
--

Convert a location (with parts of an address) into geo coordinates

Query parameters (to be added to request behind "?"): specify a bounding box (optional)

- left_lower_lat={min_lat}

- left_lower_lng={min_lng}

- right_upper_lat={max_lat}

- right_upper_lng={max_lng}

An optional parameter "system" can be added; the default is "WGS_84".

Parts of address (some parts might be omitted) in a string

- address={string}

Returns: ranked list of locations as described in the sample request.

The data structure "GeoLocations" of the response is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Resources+for+REST+North+Interface;
some parts of the data structure might be omitted because the information is not available.
GET /V0/Resources/GeoLocations?address={adress_parts}
< 200
{
   "searchLocation": "Berlin, Ullsteinstr 116",
   "proposals": [
        { 
            "type": "PublicTransportStation",
            "description": "U Ullsteinstr. (Berlin)",
            "location": { "longitude":13.384767, "latitude":52.45345, "system":"WGS_84"}
            "rank": 100.0,
            "geocoder": "VBBRoutingWrapper"
        },
        { 
            "type": "DescriptedLocation",
            "description": "Ullsteinstraße 116, 12109 Berlin, Deutschland",
            "location": { "longitude":13.38765, "latitude":52.4536, "system":"WGS_84"}
            "rank": 80.0,
            "geocoder": "GoogleRoutingWrapper"
        },
        { 
            "type": "PublicTransportStation",
            "description": "Steinstr. (Berlin)",
            "location": { "longitudelongitude":13.398655, "latitude":52.395704, "system":"WGS_84"}
            "rank": 70.0,
            "geocoder": "VBBRoutingWrapper"
        } 
    ]
}

Get trip information for specified trip criteria with basic information.

Query parameter: currently none

Selection criteria (specified in the request body as described in the sample request): 

- origin: start point specified by a geo location 
  (addresses can be converted into geo locations by means of "GET /Resources/GeoLocations")

- destination: start point specified by a geo location

- either orgin or destination might specify a time

- viaPoints: list of geo locations that the route should use

- costFunction: list of cost factors (such as Distance, Duration, Price, Economy), each with a percentual weight 

- trafficTypes: list of either of Walk, Bike, Car, Taxi, Metro, CityTrain, Train, Bus, Tram, RegioTrain, Ferry, Other

- routingConstraints: list of constraints to be taken into account for various traffic types, specified by min/max values

- userId: user that requests a trip

The data structure "TripRequest" for such a JSON request body is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Routing+Planner.

Returns: list of trip proposals with basic information such as distance, duration and an URI for each proposal to acquire detailled information.

The data structure "TripProposalDetails" of the response is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Routing+Planner;
some parts of the data structure might be omitted because the information is not available.
POST /V0/TripProposals
> Content-Type: application/json
> Accept: application/json
{ 
    "origin": { 
        "location": { "longitude": 13.386759757995605, "latitude": 52.4781608581543, "system": "WGS_84" }, 
        "time": "2013-07-25T15:10:00.000"  
        },
    "destination": { 
        "location": { "longitude": 13.3606595993042, "latitude": 52.49085998535156, "system": "WGS_84" },
        "time": "2013-07-22T18:10:00.000"
        },
    "viaPoints": [
        "location": { "longitude": 13.388156, "latitude": 52.493578, "system": "WGS_84" }
        ]
    "costFunction": [ { "Distance", 100 } ],
    "trafficTypes": [ "Car,Metro" ],
    "routingConstraints":   [ { 
                                "trafficType": "Walk", 
                                "min": { "value": 0,   "unit": "m" }, 
                                "max": { "value": 200, "unit": "m" }
                              } 
                            ],
    "userId": "4711/10" 
}
< 201
< Content-Type: application/json
[   {   
        "URI": "/TripProposals/1", 
        "origin": { 
            "location": { "longitude":13.386759757995605, "latitude":52.4781608581543, "system": "WGS_84" }, 
            "time": "2013-07-04T15:10:47.193+02:00" 
        },
        "destination": { 
            "location": { "longitude":13.3606595993042, "latitude":52.49085998535156, "system": "WGS_84" }, 
            "time": "2013-07-04T15:24:47.193+02:00" 
        },
        "trafficTypes": [ "Car" ],
        "costs": { 
            "distanceFromOrigin": {"value":4743.0, "unit": "m"}, 
            "duration": {"value":864, "unit": "min" } 
        }
    },
    {   
        "URI": "/TripProposals/2", 
        "origin": { 
            "location": { "longitude": 13.386717, "latitude": 52.478135, "system": "WGS_84" }, 
            "time": "2013-07-25T15:13:00" 
        },
        "destination": { 
            "location": { "longitude": 13.360909, "latitude": 52.490836, "system": "WGS_84" }, 
            "time": "2013-07-25T15:29:00" 
        },
        "trafficTypes": [ "Walk,Metro" ],
        "costs": { 
            "duration": {"value":960, "unit": "min" } 
        }
    }
] 


Get details about a trip proposal.

Query parameters: none

Each trip proposal consists of several segments, one segment for one transportation modality such as bike, car, train, etc. 
There is also a separate segment if the traveler shall use different lines of the same transport modality, 
for instance, first U5 from A to B and then U4 from B to C.

Each segement has an origin and a destination with corresponding timestamps when to arrive and depart.

A segment consists of a sequence of way points and guiding points.

A way point describes an intermediate geo location useful for displaying the trip proposal in a map.

A guiding point gives a traveler hints how to travel, e.g., whenever to change the road at a crossing.

Returns: detailed information about a single trip proposal determined by [proposalId}

The data structure "TripProposalDetail" of the response is described in https://confluence.imp.mobilitaetsdienste.de/display/IMP/Routing+Planner;
some parts of the data structure might be omitted because the information is not available.

PLEASE NOTE: Currently the distance-value in the "costs" of a guidingPoint counts the distance form the beginning of the trip. 
This is not the distance from guidingPoint to guidingPoint!
This might change in future.
GET /V0/TripProposals/{proposalId}
< 200
< Content-Type: application/json
{ 
    "URI": "/TripProposals/1", 
    "segments": [ {
        "segmentId": "1",
        "trafficType": "Car",
        "origin": { 
            "location": { "longitude":13.386759757995605, "latitude":52.4781608581543, "system": "WGS_84" }, 
            "time": "2013-07-04T15:10:47.193+02:00" 
        },
        "destination": { 
            "location": { "longitude":13.3606595993042, "latitude":52.49085998535156, "system": "WGS_84" }, 
            "time": "2013-07-04T15:24:47.193+02:00" 
        },
        "costs": {
            "distanceFromOrigin": { "value":4743.0, "unit":"Meter" },
            "duration": { "value":864.0,  "unit":"Second" }
        },
        "wayPoints": [
            { "longitude":13.386759757995605, "latitude":52.4781608581543 },
            { "longitude":13.386409759521484, "latitude":52.47819137573242 },
            { "longitude":13.386210441589355, "latitude":52.4781608581543 },
            { "longitude":13.386150360107422, "latitude":52.47813034057617 },
            { "longitude":13.386059761047363, "latitude":52.478111267089844 },
            { "longitude":13.386030197143555, "latitude":52.478118896484375 },
            { "longitude":13.385970115661621, "latitude":52.47813034057617 },
            { "longitude":13.386019706726074, "latitude":52.48004913330078 },
            { "longitude":13.386019706726074, "latitude":52.480201721191406 },
            { "longitude":13.386030197143555, "latitude":52.48162078857422 },
            { "longitude":13.386059761047363, "latitude":52.483070373535156 },
            { "longitude":13.386070251464844, "latitude":52.483238220214844 },
            { "longitude":13.386079788208008, "latitude":52.483428955078125 },
            { "longitude":13.386090278625488, "latitude":52.48427963256836 },
            { "longitude":13.386090278625488, "latitude":52.48445129394531 },
            { "longitude":13.386090278625488, "latitude":52.484840393066406 },
            { "longitude":13.386090278625488, "latitude":52.48488998413086 },
            { "longitude":13.386090278625488, "latitude":52.48503875732422 },
            { "longitude":13.386090278625488, "latitude":52.485931396484375 },
            { "longitude":13.386099815368652, "latitude":52.486228942871094 },
            { "longitude":13.386139869689941, "latitude":52.48738098144531 },
            { "longitude":13.38617992401123, "latitude":52.487831115722656 },
            { "longitude":13.38638973236084, "latitude":52.48939895629883 },
            { "longitude":13.38656997680664, "latitude":52.490089416503906 },
            { "longitude":13.386890411376953, "latitude":52.49100875854492 },
            { "longitude":13.387009620666504, "latitude":52.49129104614258 },
            { "longitude":13.38722038269043, "latitude":52.4918212890625 },
            { "longitude":13.387590408325195, "latitude":52.49251937866211 },
            { "longitude":13.387660026550293, "latitude":52.49264144897461 },
            { "longitude":13.387740135192871, "latitude":52.492759704589844 },
            { "longitude":13.387909889221191, "latitude":52.493019104003906 },
            { "longitude":13.388079643249512, "latitude":52.49325942993164 },
            { "longitude":13.388290405273438, "latitude":52.4935417175293 },
            { "longitude":13.388290405273438, "latitude":52.4935417175293 },
            { "longitude":13.388810157775879, "latitude":52.49420928955078 },
            { "longitude":13.388899803161621, "latitude":52.494319915771484 },
            { "longitude":13.389060020446777, "latitude":52.4945182800293 },
            { "longitude":13.389260292053223, "latitude":52.49481964111328 },
            { "longitude":13.389320373535156, "latitude":52.494911193847656 },
            { "longitude":13.38938045501709, "latitude":52.49496841430664 },
            { "longitude":13.389630317687988, "latitude":52.495361328125 },
            { "longitude":13.389690399169922, "latitude":52.495670318603516 },
            { "longitude":13.389530181884766, "latitude":52.49565887451172 },
            { "longitude":13.38936996459961, "latitude":52.49565124511719 },
            { "longitude":13.389360427856445, "latitude":52.49544143676758 },
            { "longitude":13.389249801635742, "latitude":52.495201110839844 },
            { "longitude":13.389039993286133, "latitude":52.49494934082031 },
            { "longitude":13.388500213623047, "latitude":52.4943313598628 },
            { "longitude":13.388349533081055, "latitude":52.4941482543 3 },
            { "longitude":13.388190269470215, "latitude":52.49394989013 },
            { "longitude":13.388079643249512, "latitude":52.49377822875976 },
            { "longitude":13.387789726257324, "latitude":52.4933395385742 },
            { "longitude":13.38761043548584, "latitude":52.49309158325195 },
            { "longitude":13.387450218200684, "latitude":52.492828369140625 },
            { "longitude":13.387319564819336, "latitude":52.49258041381836 },
            { "longitude":13.386759757995605, "latitude":52.491310119628906 },
            { "longitude":13.386289596557617, "latitude":52.490089416503906 },
            { "longitude":13.385749816894531, "latitude":52.490081787109375 },
            { "longitude":13.384860038757324, "latitude":52.49003982543945 },
            { "longitude":13.384570121765137, "latitude":52.490028381347656 },
            { "longitude":13.382229804992676, "latitude":52.48984146118164 },
            { "longitude":13.381349563598633, "latitude":52.48978042602539 },
            { "longitude":13.379289627075195, "latitude":52.48963165283203 },
            { "longitude":13.37759017944336, "latitude":52.489479064941406 },
            { "longitude":13.377510070800781, "latitude":52.489471435546875 },
            { "longitude":13.376740455627441, "latitude":52.48942947387695 },
            { "longitude":13.376350402832031, "latitude":52.48939895629883 },
            { "longitude":13.375140190124512, "latitude":52.48933029174805 },
            { "longitude":13.375009536743164, "latitude":52.48931121826172 },
            { "longitude":13.374890327453613, "latitude":52.489261627197266 },
            { "longitude":13.374670028686523, "latitude":52.489078521728516 },
            { "longitude":13.373780250549316, "latitude":52.48802185058594 },
            { "longitude":13.373740196228027, "latitude":52.487918853759766 },
            { "longitude":13.373760223388672, "latitude":52.487850189208984 },
            { "longitude":13.373579978942871, "latitude":52.48788070678711 },
            { "longitude":13.371649742126465, "latitude":52.48794937133789 },
            { "longitude":13.370559692382812, "latitude":52.48802947998047 },
            { "longitude":13.369139671325684, "latitude":52.488189697265625 },
            { "longitude":13.368900299072266, "latitude":52.48820877075195 },
            { "longitude":13.368619918823242, "latitude":52.488250732421875 },
            { "longitude":13.368459701538086, "latitude":52.488250732421875 },
            { "longitude":13.368080139160156, "latitude":52.488258361816406 },
            { "longitude":13.366080284118652, "latitude":52.488250732421875 },
            { "longitude":13.364839553833008, "latitude":52.488250732421875 },
            { "longitude":13.3643798828125, "latitude":52.488250732421875 },
            { "longitude":13.364080429077148, "latitude":52.48823165893555 },
            { "longitude":13.363880157470703, "latitude":52.48833084106445 },
            { "longitude":13.363590240478516, "latitude":52.48849868774414 },
            { "longitude":13.362739562988281, "latitude":52.488948822021484 },
            { "longitude":13.362090110778809, "latitude":52.48933029174805 },
            { "longitude":13.36201000213623, "latitude":52.48939895629883 },
            { "longitude":13.360910415649414, "latitude":52.4901008605957 },
            { "longitude":13.36083984375, "latitude":52.49013900756836 },
            { "longitude":13.360790252685547, "latitude":52.49024963378906 },
            { "longitude":13.360589981079102, "latitude":52.490360260009766 },
            { "longitude":13.360429763793945, "latitude":52.49045181274414 },
            { "longitude":13.36050033569336, "latitude":52.49055862426758 },
            { "longitude":13.360650062561035, "latitude":52.49081039428711 },
            { "longitude":13.3606595993042, "latitude":52.49085998535156 } 
            ],
        "guidingPoints": [  
            {
                "description": "Losfahren in Kamenzer Damm, Lankwitz",
                "location": { "longitude":13.388290405273438, "latitude":52.4935417175293, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 0.0, "unit": "Meter" },
                    "duration": { "value": 0.0, "unit": "min" }
                 }
            },
            {
                "description": "Biegen Sie rechts ab auf B96 Tempelhofer Damm",
                "location": { "longitude":13.385970115661621, "latitude":52.47813034057617, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 52, "unit": "Meter" },
                    "duration": { "value": 23, "unit": "Seconds" }
                 }
            },
            {
                "description": "Ankunft in  B96 Mehringdamm, Kreuzberg (Berlin)",
                "location": { "longitude":13.388290405273438, "latitude":52.4935417175293, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 1790, "unit": "Meter" },
                    "duration": { "value": 306, "unit": "Seconds" }
                 }
            },
            {
                "description": "Losfahren in  B96 Mehringdamm, Kreuzberg (Berlin)",
                "location": { "longitude":13.388290405273438, "latitude":52.4935417175293, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 0, "unit": "Meter" },
                    "duration": { "value": 0, "unit": "Seconds" }
                 }
            },  
            {
                "description": "Bitte wenden Sie auf B96 Mehringdamm",
                "location": { "longitude":13.389690399169922, "latitude":52.495670318603516, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 262, "unit": "Meter" },
                    "duration": { "value": 33, "unit": "Seconds" }
                 }
            },
            {
                "description": "Biegen Sie rechts ab auf  Kreuzbergstraße",
                "location": { "longitude":13.386289596557617, "latitude":52.490089416503906, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 938, "unit": "Meter" },
                    "duration": { "value": 170, "unit": "Seconds" }
                 }
            },
            {
                "description": "Biegen Sie rechts ab auf  Monumentenstraße",
                "location": { "longitude":13.373760223388672, "latitude":52.487850189208984, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 1894, "unit": "Meter" },
                    "duration": { "value": 151, "unit": "Seconds" }
                 }
            },
            {
                "description": "Biegen Sie rechts ab auf B1 Potsdamer Straße",
                "location": { "longitude":13.360429763793945, "latitude":52.49045181274414, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 2906, "unit": "Meter" },
                    "duration": { "value": 164, "unit": "Seconds" }
                 }
            },
            {
                "description": "Ankunft in  B1 Potsdamer Straße, Schöneberg (Berlin)",
                "location": { "longitude":13.3606595993042, "latitude":52.49085998535156, "system": "WGS_84"  },
                "costs": { 
                    "distanceFromOrigin": { "value": 2953, "unit": "Meter" },
                    "duration": { "value": 17, "unit": "Seconds" }
                 }
            } 
        ]
    } ]
}


--
Route Planner (Individual & Public Transport)
Interfaces listed in this section can be used to plan a route using individual transport (car, bicycle, walk, ...) and public transport (bus, train).

--
# General Description
Finds trip proposals by specified trip criteria and returns the basic information about the proposals as overview over all alternatives. NOTE: this is a POST request, it stores calculated trip proposals with all detailed information internally for a certain time
and returns only basic information as response. The current expiration time is 30 minutes, afterwards stored proposals expire and details are no longer available. To get more details about a certain proposal use "GET /V0/TripProposals/{proposalId}".


# Query Parameters
- `language`={lang} : de, en (de is the default)

# Body Parameters
Selection criteria (specified in the request body): 

- `origin`: start point specified by a geo location 
  (addresses can be converted into geo locations by means of "GET V0/Resources/GeoLocations")

- `destination`: end point specified by a geo location

- `time` either orgin or destination might specify a time

- `viaPoints`: list of geo locations that the route should use

- `costFunction`: list of cost factors (such as Distance, Duration, ...), each with a percentual weight. "CostFunction" : { "Duration": Percentage, "Distance": Percentage, "Price": Percentage, "Emission": Percentage} currently implemented, Speed, Delay, Other not yet implemented but planned}

- `trafficTypes`: list of either of Walk, Bike, Car, Taxi, Metro, CityTrain, Train, Bus, Tram, RegioTrain, Ferry, Other, Unknown

- `routingConstraints`: list of constraints to be taken into account for various traffic types, specified by min/max values. For example Walk max 1000m. RoutingConstraintType = ENUM { "Duration", "Distance", "Price", "Eco", "Speed", "Delay", "Other" }

- `userId`: user that requests a trip

The data structure of a trip request for such a JSON request body is described in the example.

# Response
List of "TripProposal"s with basic information such as distance, duration and an URI for detailed information.
The data structure of a trip proposal with basic information contains the following attributes:

attribute | json data type | comments
--- | --- | ---
url | URI  | URI of this ressourse
origin | Object | start point of the trip {"location":Location, "address":Address, "time":Time}
destination | Object | end point of the trip {"location":Location, "address":Address, "time":Time}
trafficTypes | Array of Enums | list of values from ENUM { "Walk", "Bike", "Car", "Taxi", "Metro", "CityTrain", "Train", "Bus", "Tram", "RegioTrain", "Ferry", "Other" } 
description | String |
costs | Object | {"distanceFromOrigin":Distance, "duration":Duration, "price":Money, "emission":MassUnit}.

Some parts of the data structure might be omitted because the information is not available.


POST /V0/TripProposals
> Content-Type: application/json
> Accept: application/json
{ 
    "origin": { 
        "location": { "longitude": 13.377683, "latitude": 52.509166, "system": "WGS84" }, 
        "time": "2013-07-23T15:10:00+0200"
        },
    "destination": { 
        "location": { "longitude": 13.384160041809082, "latitude": 52.5100212097168, "system": "WGS84" },
        "time": null
        },
    "viaPoints": [],
    "costFunctions": [],
    "trafficTypes": [ "Car", "Walk" ],
    "routingConstraints": [],
    "userId": "4711/10" 
}
< 200
< Content-Type: application/json
[   {
        "url": "TripProposals/257918",
        "origin": {
            "location": {
                "latitude": 52.5091506,
                "longitude": 13.3776613,
                "system": "WGS_84"
            },
            "address": null,
            "time": "2013-07-23T15:10:00+0200"
        },
        "destination": {
            "location": {
                "latitude": 52.5100021,
                "longitude": 13.3841612,
                "system": "WGS_84"
            },
            "address": null,
            "time": "2013-07-23T15:16:09+0200"
        },
        "trafficTypes": [
            "Walk"
        ],
        "description": null,
        "costs": {
            "distanceFromOrigin": {
                "unit": "Meter",
                "value": 505
            },
            "duration": {
                "unit": "Second",
                "value": 369
            },
            "price": null,
            "emission": null
        }
    },
    {
        "url": "TripProposals/257920",
        "origin": {
            "location": {
                "latitude": 52.50917053222656,
                "longitude": 13.377630233764648,
                "system": "WGS_84"
            },
            "address": null,
            "time": "2013-11-19T15:10:28+0100"
        },
        "destination": {
            "location": {
                "latitude": 52.5100212097168,
                "longitude": 13.384160041809082,
                "system": "WGS_84"
            },
            "address": null,
            "time": "2013-11-19T15:11:28+0100"
        },
        "trafficTypes": [
            "Car"
        ],
        "description": "@52.50916671752929,13.37768268585205:@52.51002120971681,13.384160041809082",
        "costs": {
            "distanceFromOrigin": {
                "unit": "Meter",
                "value": 503
            },
            "duration": {
                "unit": "Second",
                "value": 98
            },
            "price": null,
            "emission": null
        }
    }
] 

# General Description
Get details about a specific trip proposal determined by {proposalId}. PLEASE NOTE: Trip proposals must be stored internally by means of "POST /V0/TripProposals" before referencing a specific proposal using "GET /V0/TripProposals/{proposalId}".
The current expiration time is 30 minutes. Afterwards stored proposals expire and details are no longer available. 

# Query Parameters
- `language`={lang} : de, en (de is the default)

# Response
Detailed information about a single trip proposal determined by {proposalId}. 
Each trip proposal consists of several segments, one segment for one transportation modality such as bike, car, train, etc. There is also a separate segment if the traveler shall use different lines of the same transport modality, for instance, first U5 from A to B and then U4 from B to C.
Each segement has an origin and a destination with corresponding timestamps when to arrive and depart. Additionally a segment consists of a sequence of way points and guiding points. 
The data structure of a segment contains the segment id together with the basic information about the trip proposal (origin, destination, ...) and additionally the following attributes:

attribute | json data type | comments
--- | --- | ---
wayPoints | Array of Objects | [ Location ] A way point describes an intermediate geo location useful for displaying the trip proposal in a map
guidingPoints | Array of Objects  | [{ "description": String, "location": TimedLocation, "costs": Cost, "operator": String}, ...}] A guiding point gives a traveler hints how to travel, e.g., whenever to change the road at a crossing.


PLEASE NOTE: The "distanceFromOrigin"-value in the "costs" of a guidingPoint now counts the distance from guidingPoint to guidingPoint; the misleading name will be replaced soon. (In the past, the distanceFromOrigin-value accumulated the distance from the beginning of the trip.) 
  
GET /V0/TripProposals/{proposalId}
< 200
< Content-Type: application/json
{
    "url": "TripProposals/258393/",
    "segments": [
        {
            "segmentId": "1",
            "description": null,
            "origin": {
                "location": {
                    "latitude": 52.5091506,
                    "longitude": 13.3776613,
                    "system": "WGS_84"
                },
                "address": null,
                "time": "2013-07-23T15:10:00+0200"
            },
            "destination": {
                "location": {
                    "latitude": 52.5100021,
                    "longitude": 13.3841612,
                    "system": "WGS_84"
                },
                "address": null,
                "time": "2013-07-23T15:16:09+0200"
            },
            "trafficType": "Walk",
            "cost": {
                "distanceFromOrigin": {
                    "unit": "Meter",
                    "value": 505
                },
                "duration": {
                    "unit": "Second",
                    "value": 369
                },
                "price": null,
                "emission": null
            },
            "wayPoints": [
                {
                    "latitude": 52.50915,
                    "longitude": 13.37766,
                    "system": "WGS_84"
                },
                {
                    "latitude": 52.50924,
                    "longitude": 13.3775,
                    "system": "WGS_84"
                },
                {
                    "latitude": 52.50952,
                    "longitude": 13.37745,
                    "system": "WGS_84"
                },
                {
                    "latitude": 52.50956,
                    "longitude": 13.37776,
                    "system": "WGS_84"
                },
                {
                    "latitude": 52.50963,
                    "longitude": 13.37801,
                    "system": "WGS_84"
                },
                {
                    "latitude": 52.50971,
                    "longitude": 13.37963,
                    "system": "WGS_84"
                },
                {
                    "latitude": 52.51,
                    "longitude": 13.38416,
                    "system": "WGS_84"
                }
            ],
            "guidingPoints": [
                {
                    "description": "Head <b>northwest</b> on <b>Leipziger Platz</b> toward <b>B1</b>",
                    "location": {
                        "location": {
                            "latitude": 52.5091506,
                            "longitude": 13.3776613,
                            "system": "WGS_84"
                        },
                        "address": null,
                        "time": null
                    },
                    "cost": {
                        "distanceFromOrigin": {
                            "unit": "Meter",
                            "value": 46
                        },
                        "duration": {
                            "unit": "Second",
                            "value": 30
                        },
                        "price": null,
                        "emission": null
                    },
                    "operator": null
                },
                {
                    "description": "Turn <b>right</b> onto <b>Leipziger Platz/B1</b><div style=\"font-size:0.9em\">Continue to follow B1</div>",
                    "location": {
                        "location": {
                            "latitude": 52.5095168,
                            "longitude": 13.3774464,
                            "system": "WGS_84"
                        },
                        "address": null,
                        "time": null
                    },
                    "cost": {
                        "distanceFromOrigin": {
                            "unit": "Meter",
                            "value": 505
                        },
                        "duration": {
                            "unit": "Second",
                            "value": 369
                        },
                        "price": null,
                        "emission": null
                    },
                    "operator": null
                }
            ]
        }
    ]
}